---
const {field} = Astro.props;
---

{field.type === "textField" && 
<div class="sm:col-span-4">
    <label
      for={field.key}
      class="block text-sm font-medium leading-6 text-foreground"
    >
      {field.label || field.key}
    </label>
    <div class="mt-2">
      <div class="flex rounded-md bg-background ring-1 ring-inset ring-input focus-within:ring-2 focus-within:ring-inset focus-within:ring-pokee-purple">
        <input
          type="text"
          name={field.key}
          id={field.key}
          value={field.value}
          class="flex-1 border-0 bg-transparent py-1.5 pl-2 text-foreground focus:ring-0 sm:text-sm sm:leading-6"
          placeholder=""
        />
      </div>
    </div>
    {field.hint && (
      <p class="mt-2 text-sm text-muted-foreground">
        {field.hint}
      </p>
    )}
  </div>
  }